<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODO App | Edit task</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <h1>TODO App</h1>
            <hr>
            <h2>Edit task information</h2>
            <form action="/edit/{{ id }}" method="POST" id="form-edit">
                <div>
                    <label for="task">Change task:</label>
                    <input type="text" name="task" value="{{ description }}">
                </div>
                <div>
                    <label for="task">Status:</label>
                    {% if is_done %}
                        <input type="checkbox" name="is_done" checked>
                    {% else %}
                        <input type="checkbox" name="is_done">
                    {% endif %}
                </div>
                <input type="submit" value="Confirm">
            </form>
        </div>
    </body>
</html>