<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODO App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <h1>TODO App</h1>
            <hr>
            <form action="/add" method="POST">
                <input type="text" name="task" placeholder="Add new task">
                <input type="submit" value="Confirm">
            </form>
            <hr>
            <div id="tasks">
            {% if tasks %}
                {% for task in tasks %}
                    <div class="task">
                        <div class="task-info">
                            <p>{{ task.description }}</p>
                            <p>
                                {{ task.date }}<br>
                                {% if task.is_done %}
                                    Done
                                {% else %}
                                    Undone
                                {% endif %}
                            </p>
                        </div>
                        <div class="task-links">
                            <a href="/edit/{{ task.id }}">Edit</a>
                            <a href="/delete/{{ task.id }}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You have no task yet! Add one above!</p>
            {% endif %}
            </div>
        </div>
    </body>
</html>